---
layout: default
title: TECH Setu
page_name: home
---

{% include home/community-events.html %}
<section class="bg-secondary py-4">
  <div class="container">
    <div class="row py-4 justify-content-center">
      <div class="col-md-6">
        <h1 class="text-white font-weight-light pt-2">Welcome to TECH Setu!</h1>
      </div>
      <div class="col-md-4 offset-md-2">
        <a href="/apply/" role="button" class="btn btn-lg btn-success px-4 py-3">Apply for Membership</a>
      </div>
    </div>
  </div>
</section>
{% include home/membership.html %}
