<!-- banner -->
<div class="banner">
  <div class="banner-bg d-flex justify-content-start align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-lg-8">
          <h5 class="text-white font-weight-light font-playfair mt-5">
            Welcome to <strong><span class="h1">TECH Setu!</span></strong>
          </h5>
          <div class="caption mt-4">
            <h1 class="text-white font-weight-lighter mt-4">
              Bridging the <strong>Gap</strong> among <strong><span class="lg-block"></span>
              IT Students, </strong><span class="mb-block">IT Professionals and </span>
              <strong><span class="lg-block"></span>IT Industry.</strong>
            </h1>
          </div>
          <h5 class="tagline">
            ॐ सर्वे भवन्तु शिक्षितः। <span class="mb-block">(ॐ May all be educated.)</span>
          </h5>
          <div class="purpose mt-4">
            <h2>
              Open Source <span class="mx-2">|</span>
              <span class="mb-block">Tech Community <span class="mx-2">|</span></span>
              <span class="mb-block">Internship & Job</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
