<!-- banner -->
<div class="banner">
  <div class="banner-bg d-flex justify-content-start align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-lg-8">
          <h5 class="text-white font-weight-lighter mt-5">
            Welcome to <strong>TECH Setu!</strong>
          </h5>
          <div class="caption mt-4">
            <h1 class="text-white font-weight-lighter mt-4">
              Bridging the <strong>Gap</strong> between <strong>IT Students</strong>
              and <strong>Industry.</strong>
            </h1>
          </div>
          <div class="purpose mt-4">
            <h2>
              Tech Community <span class="mx-2">|</span>
              Open Source <span class="mx-2">|</span>
              Tech Events
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
