<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="row justify-content-center">
        <div class="col-md-4 col-12 footer-column">
          <div class="logo-widget footer-widget">
            <div class="footer-title">ABOUT</div>
            <div class="description">
              <p>
                {{ site.description }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12 offset-md-1 footer-column">
          <div class="service-widget footer-widget">
            <div class="footer-title">QUICK LINKS</div>
            <ul class="list pl-0">
              <li><a href="/code-of-conduct/">Code of Conduct</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/team">Meet our Team</a></li>
              <li><a href="/blogs">Blogs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-12 footer-widget">
          <div class="contact-widget footer-widget">
            <div class="footer-title">CONTACTS</div>
            <div class="text">
              <a href="mailto:info@techsetu.org" target="_blank">
                <p>
                  <i class='bx bx-mail-send' ></i>
                  <span>{{ site.email }}</span>
                </p>
              </a>
            </div>

            <ul class="footer-social pl-0 mb-0">
              <li>
                <a href="https://github.com/techsetu" target="_blank"><i class='bx bxl-github' ></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/techsetu" target="_blank"><i class='bx bxl-linkedin' ></i></a>
              </li>
              <!-- <li>
                <a href="https://twitter.com/tech_setu" target="_blank"><i class='bx bxl-twitter' ></i></a>
              </li> -->
              <li>
                <a href="https://www.facebook.com/techsetu" target="_blank"><i class='bx bxl-facebook'></i></a>
              </li>
              <li>
                <a href="https://instagram.com/tech_setu" target="_blank"><i class='bx bxl-instagram' ></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="copyright text-center">{{ site.title }} © {{ site.year }}. All Right Reserved.</div>
      </div>
    </div>
  </div>
</footer>
