<div class="row multi-image">
  <div class="col-md-6">
    <div class="image-wrapper">
      {% if include.url1 %}
      <a href="{{ include.url1 }}" title="{{ include.title1 }}" target="_blank">
        {% endif %}

        <img src="{{ site.image_base_url }}/{{ include.path1 }}" alt="{{ include.title1 }}" class="{{ include.class1 }} img-fluid shadow" />

        {% if include.url1 %}
      </a>
      {% endif %}

      {% if include.caption1 %}
        <p class="image-caption">Image: {{ include.caption1 }}</p>
      {% endif %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="image-wrapper">
      {% if include.url2 %}
      <a href="{{ include.url2 }}" title="{{ include.title2 }}" target="_blank">
        {% endif %}

        <img src="{{ site.image_base_url }}/{{ include.path2 }}" alt="{{ include.title2 }}" class="{{ include.class2 }} img-fluid shadow" />

        {% if include.url2 %}
      </a>
      {% endif %}

      {% if include.caption2 %}
        <p class="image-caption">Image: {{ include.caption2 }}</p>
      {% endif %}
    </div>
  </div>
</div>
