<!-- navbar -->
<nav class="navbar lower fixed-top shadow-sm navbar-expand-lg">
  <div class="container">
    <a href="/" class="brand">
      <img src="{{ site.image_base_url }}/logo.png" alt="Logo">
      <span>{{ site.title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class='bx bx-menu'></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item{% if page.page_name == 'home' %} active{% endif %}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item {% if page.page_name == 'workshops' %} active{% endif %}">
          <div class="dropdown">
            <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Workshops
            </a>

            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/html-css/">HTML & CSS</a>
            </div>
          </div>
        </li>
        <li class="nav-item{% if page.page_name == 'apply' %} active{% endif %}">
          <a class="nav-link" href="/apply/">Apply</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
