<section id="subscribe" class="subscribe">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://itgurukula.us1.list-manage.com/subscribe/post?u=b297b53f50b737320bcb16ad7&amp;id=90df7f6d95"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h6 class="content-tuned text-white">Subscribe to stay tuned with future updates!</h6>

              <div class="input-group">
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First name ...">
                <input type="text" value="" name="LNAME" class="form-control ml-2" id="mce-LNAME" placeholder="last name ...">
              </div>
              <div class="input-group mt-2">
                <input type="email" value="" name="EMAIL" class="form-control" placeholder="Enter email ...">
                <span class="input-group-btn">
                <button class="btn" type="submit">Subscribe Now</button>
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</section>
