// page level css

// team page
.team-page {
  .card {
    border: 0;

    img {
      border-radius: 4px;
    }

    .card-body {
      padding: 1rem 0;
      text-align: center;

      .member-name {
        font-size: 15px;
      }
      .designation {
        font-size: 12px;
        text-transform: uppercase;
        color: #666;
      }
      .contact-links a .bx {
        font-size: 18px;
      }
    }
  }
}

// code of conduct
.code-of-conduct-page {
  h1, h2, h3 {
    margin: 2.5rem 0 1rem 0;
  }
  p {
    color: #474747;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  ul {
    color: #474747;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }
}
