// desktop
@media (max-width: 992px) {
}

// ipad and tablet
@media (max-width: 768px) {
  header {
    .navbar.lower {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    .navbar .navbar-nav {
      .nav-item .nav-link {
        padding: 0.5rem 1.5rem;
      }
      .nav-item:first-child {
        margin-top: 1rem;
      }
      .nav-item:last-child {
        margin-bottom: 1rem;
      }
    }
  }
  .community-events {
    h1 {
      font-size: 2.2rem;
    }
  }
  .workshops .col-lg-3 .card .card-img-top, .workshops-page .col-lg-3 .card .card-img-top {
    height: 160px;
  }
  footer .footer-content .col-12 {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer:before {
    right: 10%;
  }
}

// standard mobile size
@media (max-width: 500px) {
  #apply {
    height: 2750px;
  }
  #coming-soon {
    background-position: center right;
    h1 {
      font-size: 3rem;
    }
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .br-sm {
    display: block;
  }
  header {
    .banner {
      h1 {
        font-size: 2rem;
        line-height: 45px;
      }
      .quote h2 {
        font-size: 18px;
      }
    }
  }
  .workshops .container, .workshops-page .container {
    max-width: 90%;
  }
  .workshops .col-lg-3 .card .card-img-top, .workshops-page .col-lg-3 .card .card-img-top {
    height: 230px;
  }
  .footer:before {
    right: 0%;
    top: 40%;
  }
}

// small size mobile
@media(max-width: 380px) {
  header {
    .banner {
      h1 {
        font-size: 1.6rem;
        line-height: 36px;
      }
      .quote h2 {
        font-size: 20px;
      }
    }
  }
}
