.util-quote {
  margin-top: 2rem;

  blockquote {
    margin-bottom: 0;
  }
  .paragraph {
    font-size: 20px;
    color: #555;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
  }
}
