.workshops, .workshops-page, .kulas, .kulas-page {
  .container {
    max-width: 1300px;
  }

  .col-lg-3 {
    margin-bottom: 50px;

    .card {
      box-shadow: 0px 1px #fff;
      border: 1px solid #fff;
      padding: 0px;
      border-radius: 9px;
      cursor: pointer;
      height: 350px;
      position: relative;
      background-color: #f9f9f9;
      color: #444;

      &:hover {
        // border: 1px solid #dedede;
        box-shadow: 0px 3px 10px #eee;
      }

      .card-img-top {
        height: 200px;
        display: block;
        margin: auto;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        border-bottom: 1px solid #ededed;
        width: 100%;
        object-fit: cover;
      }
      .card-body {
        padding: 1rem;

        .card-title {
          font-size: 16px;
          font-weight: 600;
          line-height: 25px;
        }
        .card-text {
          font-size: 14px;
          font-weight: 300;
        }
      }
      .card-footer {
        padding: 0.25rem;
        background-color: #444;
        color: #fff;
        font-size: 13px;
      }
    }
  }
  .col-lg-4:nth-child(n+4) {
    margin-bottom: 0;
  }
}
.workshops-page {
  margin-top: 60px;
  padding: 4rem 0;
}
