/* Custom SCSS */
$color-primary: #ddd;

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.font-primary {
  font-family: 'Poppins', sans-serif;
}
.font-secondary {
  font-family: 'Open sans', sans-serif;
}
.blue {
  color: #175EEE;
}
.red {
  color: #EE2020
}
.green {
  color: #0AAA50;
}
.btn {
  border-radius: 0;
}
.page-margin {
  margin-top: 100px;
}
ul {
  list-style: none;
}
a, a:hover {
  text-decoration: none;
}
#page-content {
  flex: 1 0 auto;
}
.footer-bottom {
  flex-shrink: none;
}

.section-padding {
  padding: 5rem 0;
}
.section-title {
  color: #333;
}

// apply form
#apply {
  height: 3450px;
}
.page-header {
  background: url($image_base_url + "/page-header-bg.jpg") no-repeat center center/cover;
  padding: 4rem 0;

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff !important;
    margin-bottom: 0;
  }
  span {
    font-size: 20px;
    display: block;
    font-style: italic;
  }
}

@import "animate.min";
@import "workshops";
@import "home";
@import "blog";
@import "util";
@import "responsive";
