<div class="col-lg-4 col-md-6 card-group">
  <div class="card h-100 shadow">
    <div class="maxthumb">
      <a href="{{ include.post.url }}">
        <img src="{{ site.image_base_url }}/{{ include.post.thumbnail_path }}" class="card-img-top" alt="{{ include.post.title }}">
      </a>
    </div>
    <div class="card-body pt-4 px-4 pb-0">
      <h5 class="card-title">{{ include.post.title }}</h5>
      <p class="card-text">
        {{ include.post.content | strip_html | truncate: 100 }} <br>
        <a href="{{ include.post.url | prepend: site.url }}" class="text-success">Read more &#8594;</a>
      </p>
    </div>
    <div class="card-footer p-4">
      <span class="mr-2"><i class="bx bxs-user-circle bx-xs mr-1"></i>{{ include.post.author }}</span>
      <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill:rgba(132, 132, 132, 1);transform:;-ms-filter:"><path d="M7 11H9V13H7zM7 15H9V17H7zM11 11H13V13H11zM11 15H13V17H11zM15 11H17V13H15zM15 15H17V17H15z"></path><path d="M5,22h14c1.103,0,2-0.897,2-2V8V6c0-1.103-0.897-2-2-2h-2V2h-2v2H9V2H7v2H5C3.897,4,3,4.897,3,6v2v12 C3,21.103,3.897,22,5,22z M19,8l0.001,12H5V8H19z"></path></svg>
        {{ include.post.date | date: "%b %-d, %Y" }}
      </span>
    </div>
  </div>
</div>
