---
layout: default
title: Team
permalink: /team/
page_name: others
---

<div class="team-page page-margin mb-5">
  <div class="container">
    <div class="section-header text-center mb-5">
      <h1 class="mb-0">Meet Our Team</h1>
      <p class="mb-0 font-secondary">
        Fostering Collaboration, Leadership and Community Building
      </p>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 justify-content-center">
      {% assign teams = site.data.team.leaders %}
      {% assign teams = teams | concat: site.data.team.executives %}

      {% for team in teams %}
        {% include team-member.html team=team %}
      {% endfor %}

      {% assign teams = site.data.team.associates %}
      {% assign teams = teams | concat: site.data.team.general %}

      {% for team in teams %}
        {% include team-member.html team=team %}
      {% endfor %}
    </div>
  </div>
</div>
