---
layout: default
title: Blogs
---

<div class="blog-post-page page-margin">
  <div class="container my-4">
    <!-- Wrapper Start -->
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-10 post-container py-5">
        <h3 class="post-title">{{ page.title }}</h3>
        <div class="row post-info mt-2">
          <div class="col-md-12">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(139, 139, 139, 1);transform:;-ms-filter:"><path d="M12,2C6.579,2,2,6.579,2,12s4.579,10,10,10s10-4.579,10-10S17.421,2,12,2z M12,7c1.727,0,3,1.272,3,3s-1.273,3-3,3 c-1.726,0-3-1.272-3-3S10.274,7,12,7z M6.894,16.772c0.897-1.32,2.393-2.2,4.106-2.2h2c1.714,0,3.209,0.88,4.106,2.2 C15.828,18.14,14.015,19,12,19S8.172,18.14,6.894,16.772z"></path></svg>
              {{ page.author }}</span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(132, 132, 132, 1);transform:;-ms-filter:"><path d="M7 11H9V13H7zM7 15H9V17H7zM11 11H13V13H11zM11 15H13V17H11zM15 11H17V13H15zM15 15H17V17H15z"></path><path d="M5,22h14c1.103,0,2-0.897,2-2V8V6c0-1.103-0.897-2-2-2h-2V2h-2v2H9V2H7v2H5C3.897,4,3,4.897,3,6v2v12 C3,21.103,3.897,22,5,22z M19,8l0.001,12H5V8H19z"></path></svg>
              {{ page.date | date: "%b %-d, %Y" }}
            </span>
            <small class="text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(139, 139, 139, 1);transform:;-ms-filter:"><path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z"></path><path d="M13 7L11 7 11 13 17 13 17 11 13 11z"></path></svg>
              {% include read-time.html
                          content=content
                          bracket_start=''
                          bracket_end=''
                          unit='min'
                          approx='true'
                          caption='read'
              %}
            </small>
          </div>
        </div>
        <div class="my-5">
          {% if page.cover_img %}
            {% assign cover-img=page.cover_img %}
            {% assign img-title=page.title %}
            {% include image.html
                          path=cover-img
                          title=img-title
                          class="full-width"
            %}
          {% endif %}
        </div>
        <div class="row justify-content-center post-body">
          <div class="col-md-11">
            {{ content }}
          </div>
        </div>
        <div class="row justify-content-center post-body">
          <div class="col-md-11">
            <ul class="post-tags text-left">
              {% for tag in page.tags %}
                <li>
                  {% if page.is_tags_page %}
                    {% assign tag_url_base = "" %}
                  {% else %}
                    {% assign tag_url_base = "/blogs/tags/" %}
                  {% endif %}
                  <a href="{{ tag_url_base }}#{{ tag | uri_escape }}">{{ tag }}</a>{% unless forloop.last %}{% endunless %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 post-container">
        {% include post-share.html %}
      </div>
    </div>

  </div>
</div>
