<section class="community-events section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center">
          <h1 class="mb-1">Community Events</h1>
          <p class="mb-0 caption">ॐ सर्वे भवन्तु शिक्षितः। (ॐ May all be educated.)</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      {% if site.data.events.size > 0 %}
        {% for event in site.data.events %}
          <div class="col-lg-9 mb-4">
            {% include home/event-card.html event=event %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
