<div class="home-post col-lg-4 col-md-6 card-group">
  <div class="card shadow">
    <div class="maxthumb">
      <a href="{{ include.post.url }}">
        <img src="{{ site.image_base_url }}/{{ include.post.thumbnail }}" class="card-img-top" alt="{{ include.post.title }}">
      </a>
    </div>
    <div class="card-body p-4">
      <h5 class="card-title">{{ include.post.title }}</h5>
      <p class="card-text">
        {{ include.post.content | strip_html | truncate: 110 }}
        <a href="{{ include.post.url | prepend: site.url }}" class="text-success">Read more &#8594;</a>
      </p>
    </div>
  </div>
</div>
