<section class="membership section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center">
          <h1 class="mb-1">Membership Benefits</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card border-0 mx-auto text-center">
          <img src="{{ site.image_base_url }}/benefits/tutorials.jpg" alt="Tutorials" class="card-img-top">
          <div class="card-body d-flex flex-column justify-content-center items-align-center">
            <h5 class="card-title">
              Learning Resources
            </h5>
            <p class="card-text">
              Tutorials, blogs, videos, and other educational materials to learn well.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card border-0 mx-auto text-center">
          <img src="{{ site.image_base_url }}/benefits/community.jpg" alt="Tutorials" class="card-img-top">
          <div class="card-body d-flex flex-column justify-content-center items-align-center">
            <h5 class="card-title">
              Tech Community
            </h5>
            <p class="card-text">
              An active tech community where everybody share and learn together.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card border-0 mx-auto text-center">
          <img src="{{ site.image_base_url }}/benefits/mentoring.jpg" alt="Tutorials" class="card-img-top">
          <div class="card-body d-flex flex-column justify-content-center items-align-center">
            <h5 class="card-title">
              Mentoring Programs
            </h5>
            <p class="card-text">
              Industry expert driven mentoring program to excel in your learnings.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card border-0 mx-auto text-center">
          <img src="{{ site.image_base_url }}/benefits/peer-learning.jpg" alt="Tutorials" class="card-img-top">
          <div class="card-body d-flex flex-column justify-content-center items-align-center">
            <h5 class="card-title">
              Peer Learning
            </h5>
            <p class="card-text">
              Fostering Peer learning for faster learning from your own area.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card border-0 mx-auto text-center">
          <img src="{{ site.image_base_url }}/benefits/leadership.jpg" alt="Tutorials" class="card-img-top">
          <div class="card-body d-flex flex-column justify-content-center items-align-center">
            <h5 class="card-title">
              Leadership
            </h5>
            <p class="card-text">
              Leadership opportunities that will expand your skills and enhance your career.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card border-0 mx-auto text-center">
          <img src="{{ site.image_base_url }}/benefits/scholarship.jpg" alt="Tutorials" class="card-img-top">
          <div class="card-body d-flex flex-column justify-content-center items-align-center">
            <h5 class="card-title">
              Scholarship & Rewards
            </h5>
            <p class="card-text">
              Scholarship and rewards to encourage the competitions among students.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
